
body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:orchid ;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

